/* imports das fonts */

@font-face{
    font-family: titiliumweb-black;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf)
    
}

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* mobile first */

h1{
    font-family: titilliumweb-black;
}